# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
- Review popular languages for Data Science
- Review commonly used libraries for Data Science
- List some Data Science Tools
- Evaluated arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. ggplt2
5. Tensorflow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|JupyterLab|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
#This a simple arithmetic expression to mutiply then add integers. 
(3*4)+5

17

In [22]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
German Sepulveda Barbosa